
preparation/icons/hydro2.png
gridwatch.Rproj
preparation/2019_temperatures.xlsx
preparation/app2.R
preparation/co2.xlsx
preparation/gridwatch.csv
preparation/gridwatch.R
preparation/icons/biomass.png
preparation/icons/coal.png
preparation/icons/gas.png
preparation/icons/hydro.png
preparation/icons/nuclear.png
preparation/icons/solar.png
preparation/icons/wind.png
preparation/rainfall.xlsx
preparation/wind2019.xlsx
preparation/wind_turbines.jpg
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/lock_file
.Rproj.user/DBFAFDEC/sources/prop/INDEX
.Rproj.user/DBFAFDEC/sources/prop/A4DD2878
.Rproj.user/DBFAFDEC/sources/per/t/FA59ED12-contents
.Rproj.user/DBFAFDEC/sources/per/t/FA59ED12
.Rproj.user/DBFAFDEC/saved_source_markers
.Rproj.user/DBFAFDEC/rmd-outputs
.Rproj.user/DBFAFDEC/pcs/workbench-pane.pper
.Rproj.user/DBFAFDEC/pcs/windowlayoutstate.pper
.Rproj.user/DBFAFDEC/pcs/source-pane.pper
.Rproj.user/DBFAFDEC/pcs/files-pane.pper
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/proj4js-2.3.15/proj4.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/jquery-1.11.1/jquery.min.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/stock/highstock.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/plugins/tooltip-delay.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/plugins/pattern-fill-v2.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/plugins/multicolor_series.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/plugins/motion.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/plugins/highcharts-regression.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/plugins/grouped-categories.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/plugins/export-csv.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/plugins/draggable-points.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/plugins/draggable-legend.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/plugins/annotations.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/modules/xrange.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/modules/gantt.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/maps/modules/map.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/highcharts.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/highcharts-more.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/highcharts-3d.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/lib/highcharts-6.0.3/css/motion.css
.Rproj.user/7C6593D1/viewer_history/viewhtmla4397bba3e/index.html
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/proj4js-2.3.15/proj4.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/jquery-1.11.1/jquery.min.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/htmlwidgets-1.3/htmlwidgets.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/stock/highstock.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/plugins/tooltip-delay.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/plugins/pattern-fill-v2.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/plugins/multicolor_series.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/plugins/motion.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/plugins/highcharts-regression.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/plugins/grouped-categories.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/plugins/export-csv.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/plugins/draggable-points.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/plugins/draggable-legend.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/plugins/annotations.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/xrange.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/wordcloud.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/windbarb.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/vector.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/variwide.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/variable-pie.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/treemap.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/sunburst.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/streamgraph.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/stock.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/static-scale.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/solid-gauge.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/series-label.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/sankey.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/pareto.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/parallel-coordinates.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/overlapping-datalabels.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/oldie.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/offline-exporting.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/no-data-to-display.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/item-series.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/histogram-bellcurve.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/heatmap.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/grid-axis.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/gantt.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/funnel.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/exporting.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/export-data.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/drilldown.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/drag-panes.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/data.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/bullet.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/broken-axis.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/boost.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/boost-canvas.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/annotations.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/modules/accessibility.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/maps/modules/map.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/highcharts.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/highcharts-more.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/highcharts-3d.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/custom/text-symbols.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/custom/symbols-extra.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/custom/reset.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highcharts-6.0.3/css/motion.css
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/lib/highchart-binding-0.6.0/highchart.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla433f774182/index.html
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/proj4js-2.3.15/proj4.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/jquery-1.11.1/jquery.min.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/htmlwidgets-1.3/htmlwidgets.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/stock/highstock.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/plugins/tooltip-delay.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/plugins/pattern-fill-v2.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/plugins/multicolor_series.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/plugins/motion.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/plugins/highcharts-regression.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/plugins/grouped-categories.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/plugins/export-csv.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/plugins/draggable-points.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/plugins/draggable-legend.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/plugins/annotations.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/xrange.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/wordcloud.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/windbarb.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/vector.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/variwide.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/variable-pie.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/treemap.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/sunburst.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/streamgraph.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/stock.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/static-scale.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/solid-gauge.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/series-label.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/sankey.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/pareto.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/parallel-coordinates.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/overlapping-datalabels.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/oldie.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/offline-exporting.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/no-data-to-display.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/item-series.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/histogram-bellcurve.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/heatmap.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/grid-axis.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/gantt.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/funnel.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/exporting.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/export-data.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/drilldown.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/drag-panes.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/data.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/bullet.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/broken-axis.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/boost.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/boost-canvas.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/annotations.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/modules/accessibility.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/maps/modules/map.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/highcharts.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/highcharts-more.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/highcharts-3d.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/custom/text-symbols.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/custom/symbols-extra.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/custom/reset.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highcharts-6.0.3/css/motion.css
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/lib/highchart-binding-0.6.0/highchart.js
.Rproj.user/7C6593D1/viewer_history/viewhtmla432ffc6287/index.html
.Rproj.user/7C6593D1/viewer_history/history_entries
.Rproj.user/7C6593D1/viewer_history/current_index
.Rproj.user/7C6593D1/sources/s-FFFA3795/lock_file
.Rproj.user/7C6593D1/sources/s-FFFA3795/7F9536DA-contents
.Rproj.user/7C6593D1/sources/s-FFFA3795/7F9536DA
.Rproj.user/7C6593D1/sources/s-C2643E33/restart_file
.Rproj.user/7C6593D1/sources/s-C2643E33/lock_file
.Rproj.user/7C6593D1/sources/s-C2643E33/DE16D313-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/DE16D313
.Rproj.user/7C6593D1/sources/s-C2643E33/D5E7D5A7-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/D254BD2D-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/D254BD2D
.Rproj.user/7C6593D1/sources/s-C2643E33/C1EBF53-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/C1EBF53
.Rproj.user/7C6593D1/sources/s-C2643E33/B7EE2E66-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/A46B339F-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/A46B339F
.Rproj.user/7C6593D1/sources/s-C2643E33/93B87D74-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/932E0ABA-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/932E0ABA
.Rproj.user/7C6593D1/sources/s-C2643E33/92C1A068-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/6C4AFC68-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/6C4AFC68
.Rproj.user/7C6593D1/sources/s-C2643E33/66436ACB-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/6488E0CE-contents
.Rproj.user/7C6593D1/sources/s-C2643E33/6488E0CE
.Rproj.user/7C6593D1/sources/prop/INDEX
.Rproj.user/7C6593D1/sources/prop/F38A1A9F
.Rproj.user/7C6593D1/sources/prop/DFB9C719
.Rproj.user/7C6593D1/sources/prop/CE55CBC8
.Rproj.user/7C6593D1/sources/prop/BE735C15
.Rproj.user/7C6593D1/sources/prop/B6058636
.Rproj.user/7C6593D1/sources/prop/958767E5
.Rproj.user/7C6593D1/sources/prop/93FCDB92
.Rproj.user/7C6593D1/sources/prop/88A31640
.Rproj.user/7C6593D1/sources/prop/8472E2F8
.Rproj.user/7C6593D1/sources/prop/7F5B8E36
.Rproj.user/7C6593D1/sources/prop/7420B59F
.Rproj.user/7C6593D1/sources/prop/5F7C619D
.Rproj.user/7C6593D1/sources/prop/56EE7AEE
.Rproj.user/7C6593D1/sources/prop/4917AEA7
.Rproj.user/7C6593D1/sources/prop/41114E7D
.Rproj.user/7C6593D1/sources/prop/2FEC7B83
.Rproj.user/7C6593D1/sources/prop/236878A9
.Rproj.user/7C6593D1/sources/prop/1C730880
.Rproj.user/7C6593D1/sources/prop/142859C5
.Rproj.user/7C6593D1/saved_source_markers
.Rproj.user/7C6593D1/rmd-outputs
.Rproj.user/7C6593D1/pcs/workbench-pane.pper
.Rproj.user/7C6593D1/pcs/windowlayoutstate.pper
.Rproj.user/7C6593D1/pcs/source-pane.pper
.Rproj.user/7C6593D1/pcs/files-pane.pper
.Rproj.user/7C6593D1/pcs/debug-breakpoints.pper
.Rproj.user/7C6593D1/ctx/ctx-14343/settings
.Rproj.user/7C6593D1/ctx/ctx-14343/history
.Rproj.user/7C6593D1/ctx/ctx-14343/environment
.Rproj.user/7C6593D1/ctx/ctx-14343/console_actions
.RData
.Rhistory
